*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100vh;
}

.parent-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* https://cssloaders.github.io/ */
.loader2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #239732;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}
.loader {
  background-color: rgba(0, 0, 0, 0);
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.75s infinite ease-in-out;
}

.loader {
  color: #239732;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader.admin {
  color: #006fe6;
}

.loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  box-shadow: 0 2.5em 0 -1.3em;
  box-shadow: 0 2.5em 0 0;
}
.Login {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  /* Start of Mobile View */
}
.Login .banner-section {
  overflow: hidden;
  position: relative;
  max-width: 600px;
  height: 100%;
}
.Login .banner-section .banner-display {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Login .banner-section .banner-display img.school-logo {
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.3));
  width: 280px;
  margin-bottom: 20px;
  height: 280px;
  pointer-events: none;
  user-select: none;
}
.Login .banner-section .banner-display span.tagline {
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
  text-align: center;
  width: 500px;
  color: rgba(255, 255, 255, 0.9294117647);
  pointer-events: none;
  user-select: none;
  font-family: "EB Garamond", serif;
  font-size: 2.3rem;
  font-weight: 400;
}
.Login .banner-section .banner-display-mobile {
  display: none;
}
.Login .banner-section img.banner-img {
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  pointer-events: none;
  user-select: none;
}
.Login .banner-section span.footer-text {
  z-index: 2;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.Login .banner-section span.footer-text a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.862745098);
  letter-spacing: 0px;
  font-family: "Merriweather Sans", serif;
  font-size: 1.4rem;
  font-weight: 300;
}
.Login .banner-section .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 65, 9, 0.84);
  pointer-events: none;
}
.Login .login-form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Login .login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Login .login-form-container h1 {
  justify-content: center;
  align-items: center;
  display: flex;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 2rem;
  height: 65px;
  overflow: hidden;
  font-family: "Open Sans", serif;
  font-weight: 320;
  font-size: 3rem;
}
.Login .login-form-container h1 .text-animation {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
  overflow: hidden;
  height: 100%;
  position: relative;
}
.Login .login-form-container h1 .text-animation span {
  transition: margin 0.4s ease-out;
}
.Login .login-form-container h1 .text-animation.student span.student {
  margin-top: 0;
}
.Login .login-form-container h1 .text-animation.admin span.student {
  margin-top: -65px;
}
.Login .login-form-container span.error-text {
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
  margin: 1rem 0 0.5rem 0;
  color: #e74545;
  visibility: hidden;
  font-family: "Open Sans", serif;
  font-weight: 350;
  font-size: 1.15rem;
}
.Login .login-form-container span.error-text.visible-error {
  visibility: visible;
}
.Login .login-form-container .type-switch-container .type-switch {
  display: flex;
  position: relative;
}
.Login .login-form-container .type-switch-container .type-switch .toggle-indicator {
  width: 180px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.25s ease-out;
}
.Login .login-form-container .type-switch-container .type-switch .toggle-indicator.student {
  background-color: #239732;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.Login .login-form-container .type-switch-container .type-switch .toggle-indicator.admin {
  background-color: #006fe6;
  transform: translate(180px);
  border-left-width: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn {
  z-index: 2;
  width: 180px;
  background-color: rgba(0, 0, 0, 0);
  color: #222;
  border: 1.5px solid #555;
  cursor: pointer;
  padding: 6px 0;
  transition: 0.25s ease-out;
  font-family: "Open Sans", serif;
  font-weight: 350;
  font-size: 1.3rem;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn.active {
  color: #fff;
  font-weight: 450;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn.active#switch-student {
  border-color: #239732;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn.active#switch-admin {
  border-color: #006fe6;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn:hover {
  font-weight: 450;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn#switch-student {
  border-right-width: 0.75px;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn#switch-admin {
  border-left-width: 0.75px;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.Login .login-form-container .login-form {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Login .login-form-container .login-form .login-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.Login .login-form-container .login-form .login-btn-container button#login-btn {
  border-radius: 1rem;
  border: none;
  color: #fff;
  padding: 11px 60px;
  text-align: center;
  letter-spacing: 2px;
  transition: 0.25s ease-out;
  cursor: pointer;
  font-family: "Merriweather Sans", serif;
  font-size: 1.1rem;
  font-weight: 400;
}
.Login .login-form-container .login-form .login-btn-container button#login-btn.student {
  background-color: #239732;
}
.Login .login-form-container .login-form .login-btn-container button#login-btn.student:hover {
  transition: 0.1s ease-out;
  background-color: #239031;
}
.Login .login-form-container .login-form .login-btn-container button#login-btn.admin {
  background-color: #006fe6;
}
.Login .login-form-container .login-form .login-btn-container button#login-btn.admin:hover {
  transition: 0.1s ease-out;
  background-color: #076ad4;
}
.Login .login-form-container .login-form .text-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Login .login-form-container .login-form .text-input-container input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}
.Login .login-form-container .login-form .text-input-container .input-group {
  position: relative;
}
.Login .login-form-container .login-form .text-input-container .input-group button.show-password-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1.25rem;
  padding: 7px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.15s ease-out;
}
.Login .login-form-container .login-form .text-input-container .input-group button.show-password-btn:hover i {
  color: #333;
}
.Login .login-form-container .login-form .text-input-container .input-group button.show-password-btn i {
  color: #555;
}
.Login .login-form-container .login-form .text-input-container .form-input {
  padding: 10px 15px;
  width: 100%;
  border: 2px solid #cbcbcb;
  margin: 12px 0;
  letter-spacing: 1px;
  border-radius: 0.1rem;
  outline: none;
  color: #111;
  transition: all 0.2s;
  font-family: "Nunito", serif;
  font-size: 1.1rem;
}
.Login .login-form-container .login-form .text-input-container .form-input:focus {
  border-color: #333;
  color: #000;
}
@media (max-width: 1536px) {
  .Login .banner-section {
    max-width: 39%;
  }
  .Login .banner-section .banner-display img.school-logo {
    width: 240px;
    height: 240px;
    margin-bottom: 12px;
  }
  .Login .banner-section .banner-display span.tagline {
    width: 400px;
    font-size: 1.95rem;
  }
  .Login .banner-section span.footer-text {
    bottom: 20px;
  }
  .Login .banner-section span.footer-text a {
    font-size: 1.2rem;
  }
}
@media (max-width: 1280px) {
  .Login .banner-section .banner-display img.school-logo {
    width: 220px;
    height: 220px;
  }
  .Login .banner-section .banner-display span.tagline {
    font-size: 1.8rem;
  }
  .Login .login-form-container h1 {
    height: 55px;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }
  .Login .login-form-container h1 .text-animation {
    margin-right: 15px;
  }
  .Login .login-form-container h1 .text-animation.admin span.student {
    margin-top: -55px;
  }
  .Login .type-switch-container .type-switch .toggle-indicator {
    width: 160px;
  }
  .Login .type-switch-container .type-switch .toggle-indicator.admin {
    transform: translate(160px);
  }
  .Login .type-switch-container .type-switch button.toggle-switch-btn {
    width: 160px;
    padding: 4.5px;
    font-size: 1.2rem;
  }
  .Login .login-form {
    width: 330px;
  }
  .Login .login-form .login-btn-container {
    margin-top: 2.8rem;
  }
  .Login .login-form .login-btn-container button#login-btn {
    padding: 9px 50px;
    font-size: 1rem;
  }
  .Login .login-form .text-input-container .input-group button.show-password-btn {
    font-size: 1.1rem;
  }
  .Login .login-form .text-input-container .form-input {
    padding: 7px 15px;
    font-size: 0.95rem;
  }
}
@media (max-width: 1024px) {
  .Login .banner-section {
    max-width: 360px;
  }
  .Login .banner-section .banner-display img.school-logo {
    width: 200px;
    height: 200px;
  }
  .Login .banner-section .banner-display span.tagline {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .Login {
    justify-content: center;
    align-items: center;
  }
  .Login .banner-section {
    display: flex;
    width: 100%;
    max-width: 100%;
  }
  .Login .banner-section .banner-display {
    display: none;
  }
  .Login .banner-section .banner-display-mobile {
    display: flex;
    z-index: 99;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .Login .banner-section .banner-display-mobile img.school-logo {
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.3));
    width: 70px;
    height: 70px;
    pointer-events: none;
    user-select: none;
    margin-right: 8px;
  }
  .Login .banner-section .banner-display-mobile span.school-name {
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: rgba(255, 255, 255, 0.9294117647);
    pointer-events: none;
    white-space: nowrap;
    user-select: none;
    font-family: "EB Garamond", serif;
    font-size: 1.45rem;
    font-weight: 420;
  }
  .Login .login-form-section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    border-radius: 0.6rem;
    padding: 80px 40px;
    min-width: 420px;
    width: 60%;
    height: 75%;
    min-height: 420px;
    max-height: 600px;
    position: absolute;
    z-index: 99;
    align-items: flex-start;
  }
  .Login .login-form-container {
    width: 90%;
    height: 100%;
  }
  .Login .login-form-container h1 {
    font-size: 2.3rem;
    height: 50px;
    margin-bottom: 1.3rem;
  }
  .Login .login-form-container h1 .text-animation {
    margin-right: 10px;
  }
  .Login .login-form-container h1 .text-animation.admin span.student {
    margin-top: -50px;
  }
  .Login .login-form-container span.error-text {
    font-size: 1.1rem;
    margin: 2rem 0 0rem 0;
  }
  .Login .login-form-container .type-switch-container {
    display: flex;
    justify-content: center;
  }
  .Login .login-form-container .type-switch-container .type-switch .toggle-indicator {
    width: 150px;
    transition: 0.3s ease-out;
  }
  .Login .login-form-container .type-switch-container .type-switch .toggle-indicator.admin {
    transform: translate(150px);
  }
  .Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn {
    width: 150px;
    font-size: 1.1rem;
  }
  .Login .login-form-container .login-form {
    flex: 1;
    width: 100%;
    justify-content: space-around;
  }
  .Login .login-form-container .login-form .text-input-container .form-input {
    padding: 9px 15px;
    font-size: 1rem;
  }
  .Login .login-form-container .login-form .login-btn-container {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .Login .login-form-container .login-form .login-btn-container button#login-btn {
    padding: 10px 50px;
  }
}
@media (max-width: 475px) {
  .Login .login-form-section {
    width: 88%;
    min-width: 0px;
    padding: 60px 40px;
  }
  .Login .login-form-section .login-form-container {
    width: 100%;
  }
  .Login .login-form-section .login-form-container .login-form .login-btn-container {
    margin-top: 2.4rem;
  }
}/*# sourceMappingURL=Login.css.map */