*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100vh;
}

.parent-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* https://cssloaders.github.io/ */
.loader2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #239732;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}
.loader {
  background-color: rgba(0, 0, 0, 0);
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.75s infinite ease-in-out;
}

.loader {
  color: #239732;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.Login {
  width: 100%;
  height: 100%;
  display: flex;
}
.Login .banner-section {
  position: relative;
  width: 500px;
  height: 100%;
}
.Login .banner-section img.banner-img {
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  pointer-events: none;
  user-select: none;
}
.Login .banner-section img.school-logo {
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.3));
  z-index: 2;
  width: 240px;
  height: 240px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: none;
  user-select: none;
}
.Login .banner-section span.tagline {
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  letter-spacing: 3px;
  z-index: 2;
  text-align: center;
  width: 400px;
  color: rgba(255, 255, 255, 0.8431372549);
  pointer-events: none;
  user-select: none;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "EB Garamond", serif;
  font-size: 1.95rem;
  font-weight: 400;
}
.Login .banner-section span.footer-text {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.Login .banner-section span.footer-text a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8274509804);
  letter-spacing: 0px;
  font-family: "Merriweather Sans", serif;
  font-size: 1rem;
  font-weight: 300;
}
.Login .banner-section .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 65, 9, 0.84);
  pointer-events: none;
}
.Login .login-form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login .login-form-container {
  display: flex;
  flex-direction: column;
}
.Login .login-form-container h1 {
  justify-content: center;
  align-items: center;
  display: flex;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: "Open Sans", serif;
  font-weight: 320;
  font-size: 2.5rem;
}
.Login .login-form-container h1 .text-animation {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  overflow: hidden;
  height: 55px;
  position: relative;
}
.Login .login-form-container h1 .text-animation span {
  transition: margin 0.4s ease-out;
}
.Login .login-form-container h1 .text-animation.student span.student {
  margin-top: 0;
}
.Login .login-form-container h1 .text-animation.admin span.student {
  margin-top: -55px;
}
.Login .login-form-container span.error-text {
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
  margin: 1rem 0 0.5rem 0;
  color: #e74545;
  visibility: hidden;
  font-family: "Open Sans", serif;
  font-weight: 350;
  font-size: 1.15rem;
}
.Login .login-form-container span.error-text.visible-error {
  visibility: visible;
}
.Login .login-form-container .type-switch-container .type-switch {
  display: flex;
  position: relative;
}
.Login .login-form-container .type-switch-container .type-switch .toggle-indicator {
  width: 160px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #239732;
  z-index: 1;
  transition: 0.25s ease-out;
}
.Login .login-form-container .type-switch-container .type-switch .toggle-indicator.student {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.Login .login-form-container .type-switch-container .type-switch .toggle-indicator.admin {
  transform: translate(160px);
  border-left-width: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn {
  z-index: 2;
  width: 160px;
  background-color: rgba(0, 0, 0, 0);
  color: #222;
  border: 1.5px solid #555;
  cursor: pointer;
  padding: 4.5px 0;
  transition: 0.25s ease-out;
  font-family: "Open Sans", serif;
  font-weight: 350;
  font-size: 1.2rem;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn.active {
  color: #fff;
  border-color: #239732;
  font-weight: 450;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn:hover {
  font-weight: 450;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn#switch-student {
  border-right-width: 0.75px;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.Login .login-form-container .type-switch-container .type-switch button.toggle-switch-btn#switch-admin {
  border-left-width: 0.75px;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.Login .login-form-container .login-form {
  display: flex;
  flex-direction: column;
}
.Login .login-form-container .login-form .login-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2.8rem;
}
.Login .login-form-container .login-form .login-btn-container button#login-btn {
  border-radius: 1rem;
  border: none;
  background-color: #239732;
  color: #fff;
  padding: 9px 0;
  text-align: center;
  width: 150px;
  letter-spacing: 2px;
  transition: 0.1s ease-out;
  cursor: pointer;
  font-family: "Merriweather Sans", serif;
  font-size: 1rem;
  font-weight: 400;
}
.Login .login-form-container .login-form .login-btn-container button#login-btn:hover {
  background-color: #239031;
}
.Login .login-form-container .login-form .text-input-container {
  display: flex;
  flex-direction: column;
}
.Login .login-form-container .login-form .text-input-container input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}
.Login .login-form-container .login-form .text-input-container .input-group {
  position: relative;
}
.Login .login-form-container .login-form .text-input-container .input-group button.show-password-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1.1rem;
  padding: 7px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.15s ease-out;
}
.Login .login-form-container .login-form .text-input-container .input-group button.show-password-btn:hover i {
  color: #333;
}
.Login .login-form-container .login-form .text-input-container .input-group button.show-password-btn i {
  color: #555;
}
.Login .login-form-container .login-form .text-input-container .form-input {
  padding: 7px 15px;
  width: 320px;
  border: 2px solid #cbcbcb;
  margin: 12px 0;
  letter-spacing: 1px;
  border-radius: 0.1rem;
  outline: none;
  color: #111;
  transition: all 0.2s;
  font-family: "Nunito", serif;
  font-size: 0.95rem;
}
.Login .login-form-container .login-form .text-input-container .form-input:focus {
  border-color: #333;
  color: #000;
}/*# sourceMappingURL=Login.css.map */