@import '../../App'

.Home
    display: flex
    background-color: $bg-alt
    justify-content: center
    border-radius: 2rem
    width: 100%
    height: 100%

    .loader
        margin-top: 1.5rem

    .main-content-container
        flex: 1
        overflow: auto

    .profile-content-container .ProfileContent
        overflow: auto
        display: flex
        flex-direction: column
        background-color: $bg-main
        width: 320px
        height: 100%
        border-radius: 2rem

        .profile-section-container
            display: flex
            flex-direction: column
            align-items: center
            padding: 1.5rem 0

            .user-icon-container
                width: 120px
                height: 120px

                img.user-icon
                    width: 100%
                    height: 100%    
                    border-radius: 50%

        .calendar-section-container
            display: flex
            justify-content: center
            margin: 15px 0
            max-height: 240px

        .reminders-section-container
            padding: 0 1rem
            margin-top: 10px

            h6
                font:
                    family: $ff-merriweather-sans
                    weight: 400
                    size: 1.1rem
            
            .reminders-items-container
                margin-top: 5px
                display: flex
                flex-direction: column

                .reminder-item
                    cursor: pointer
                    display: flex
                    padding: 10px 5px
                    transition: 0.1s ease-out

                    &:hover
                        background-color: $theme1-transparent2
                        border-radius: 0.3rem

                    .icon-container
                        background-color: $theme1-transparent2
                        color: $theme1-text
                        border-radius: 0.4rem
                        padding: 10px 15px
                        font-size: 1.2rem

                    .text-container
                        display: flex
                        flex-direction: column
                        margin-left: 12px

                        .reminder-title
                            font:
                                family: $ff-merriweather-sans
                                size: 1.1rem
                                weight: 400

                        .reminder-date
                            margin-top: 3px
                            font:
                                family: $ff-merriweather-sans
                                weight: 300
                                size: 0.9rem

        .user-detail-container
            margin-top: 12px
            text-align: center

            h3.user-name
                margin: 0 
                font:
                    family: $ff-merriweather-sans
                    weight: 800
                    size: 1.3rem

            h5.user-role
                margin: 0
                font:
                    family: $ff-nunito
                    weight: 600
                    size: 1.1rem
        
        .user-profile-btn-container
            margin-top: 15px
        
            .user-profile-btn
                padding: 6px 30px
                border-radius: 1rem
                text-decoration: none
                color: #fff
                background-color: $theme1
                font:
                    family: $ff-roboto
                    size: 1.1rem

.Calendar
    width: 280px
    display: flex
    flex-direction: column
    font:
        family: $ff-merriweather-sans
        weight: 300
        size: 1rem

    .calendar-header
        display: flex
        justify-content: space-between
        
        button#calendar-prev-btn, button#calendar-next-btn
            padding: 5px 10px
            cursor: pointer
            font-size: 1.1rem
            background-color: #fff
            border: none
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px
            border-radius: 0.5rem
            transition: 0.1s ease-out

            &:hover
                background-color: #f1f1f1

        #calendar-month-year
            font:
                weight: 600
                size: 1.1rem

    .calendar-body
        margin-top: 7px
        display: flex
        flex-direction: column

        .calendar-weekdays
            display: flex
            justify-content: space-around
            text-align: center

            .weekday
                width: 14.28%
                font:
                    weight: 600
                    size: 0.9rem
        
        .calendar-days
            margin-top: 7px
            display: flex
            flex-wrap: wrap

            .calendar-day
                padding: 4px
                width: 14.28%
                text-align: center
                font:
                    family: $ff-roboto
                    weight: 400
                    size: 1rem
                
                &.dimmed
                    opacity: 0.5

                &.today
                    color: #fff
                    background-color: $theme1
                    border-radius: 0.3rem

.MainContent
    padding: 0.5rem 2rem

    .section-container
        padding: 1rem 0

        h4
            color: #424242
            font:
                family: $ff-merriweather-sans
                weight: 500
                size: 1.2rem

        .section-header
            display: flex
            align-items: center

            .view-all-btn
                margin-left: auto
                text-decoration: none
                color: #424242
                padding: 4px 15px
                background-color: #0000001e
                border-radius: 1rem
                font:
                    family: $ff-merriweather-sans
                    weight: 400
                    size: 0.9rem

    .courses-section
        margin-top: 1rem

        .courses-items-container
            display: flex
            justify-content: space-between
            margin-top: 15px

            .course-card
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
                background-color: #fff
                display: flex
                flex-direction: column
                width: 220px
                height: 160px
                border-radius: 0.5rem
                padding: 1rem
                transition: 0.2s ease-out
                cursor: pointer

                &:hover
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px

                .title-section
                    h5.course-title
                        text-overflow: ellipsis
                        overflow: hidden
                        white-space: nowrap
                        color: $theme1-text
                        font:
                            family: $ff-merriweather-sans
                            size: 1.1rem
                            weight: 500
                    
                    h6.course-strand
                        font:
                            family: $ff-nunito
                            size: 0.9rem
                
                .details-section
                    margin-top: auto
                    font:
                        family: $ff-merriweather-sans
                        weight: 300
                        size: 1rem                    

                    i
                        margin-right: 10px

                    .course-items
                        padding: 5px 0

    .qlinks-section
        margin-top: 1rem

        .qlinks-items-container
            display: grid
            grid-template-columns: auto auto auto
            justify-content: space-between

            .qlinks-card
                width: 220px
                height: 160px
                margin-top: 1rem
                background-color: #fff
                border-radius: 0.5rem
                border-bottom-width: 4px
                border-bottom-style: solid
                display: flex
                justify-content: center
                align-items: center
                cursor: pointer
                transition: 0.2s ease-out

                .qlinks-text
                    text-align: center
                    display: flex
                    flex-direction: column
                    font:
                        weight: 400
                        family: $ff-merriweather-sans
                        size: 1.2rem
                    
                    i
                        font-size: 1.7rem
                        margin-bottom: 12px

                &.blue
                    border-color: $blue

                    i
                        color: $blue

                    &:hover
                        background-color: $blue

                        .qlinks-text
                            color: #fff

                            i
                                color: #fff

                &.red
                    border-color: $red

                    i
                        color: $red
                    
                    &:hover
                        background-color: $red

                        .qlinks-text
                            color: #fff

                            i
                                color: #fff

                &.orange
                    border-color: $orange

                    i
                        color: $orange

                    &:hover
                        background-color: $orange

                        .qlinks-text
                            color: #fff

                            i
                                color: #fff

                &.purple
                    border-color: $purple

                    i
                        color: $purple
                    
                    &:hover
                        background-color: $purple

                        .qlinks-text
                            color: #fff

                            i
                                color: #fff

                &.yellow
                    border-color: $yellow

                    i
                        color: $yellow

                    &:hover
                        background-color: $yellow

                        .qlinks-text
                            color: #fff

                            i
                                color: #fff

                &.teal
                    border-color: $teal 

                    i
                        color: $teal

                    &:hover
                        background-color: $teal

                        .qlinks-text
                            color: #fff

                            i
                                color: #fff


    .WelcomeBanner
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
        display: flex
        background-color: #fff
        width: 100%
        height: 200px
        border-radius: 0.5rem
        padding: 10px
        position: relative

        .banner-section-left
            display: flex
            flex-direction: column
            justify-content: center
            padding: 1rem
            height: 100%
            flex: 1

            h2.greetings
                z-index: 1
                color: $theme1-text
                font:
                    family: $ff-merriweather-sans
                    size: 1.8rem
                    weight: 800

            .attendance-status-text-container
                margin-top: 15px

                .attendance-status-text
                    color: #464646
                    font:
                        family: $ff-merriweather-sans
                        size: 1rem
                        weight: 400

                button.check-attendance-btn
                    margin-top: 20px
                    padding: 8px 20px
                    background-color: $theme1
                    color: #fff
                    border: none
                    border-radius: 0.8rem
                    cursor: pointer
                    font:
                        family: $ff-nunito
                        size: 1rem
                        weight: 400

        .banner-section-right
            display: flex
            height: 100%
            justify-content: center
            align-items: center
            width: 40%
            
            .banner-hero-container
                img.banner-hero
                    pointer-events: none
                    user-select: none
                    z-index: 0
                    bottom: 0
                    right: -20px
                    position: absolute
                    width: 350px