$ff-nunito: "Nunito", serif
$ff-merriweather-sans: "Merriweather Sans", serif
$ff-roboto: "Roboto", serif
$ff-schoolbell: 'Schoolbell', serif
$bg-main: #fff
$bg-alt: #e8eaee
$theme1: #239732
$theme1-transparent: #9DCAA7
$theme1-transparent2: #C5E4C9
$theme1-text: #167f24
$theme2: #98c324
$theme3: #e1cc4f
$theme4: #ffd886

$blue: #007BFF
$red: #DC3545
$orange: #FD7E14 
$purple: #6F42C1 
$yellow: #FFC107 
$teal: #20C997 

*, ::before, ::after
    margin: 0
    padding: 0
    box-sizing: border-box

body, html, #root
    width: 100%
    height: 100vh

.parent-container
    display: flex
    position: relative
    width: 100%
    height: 100%         
    overflow: hidden
